* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 50%;
}

canvas {
    background: #f0f0f0;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}